         <div style="display: flex; align-items: center; gap: 10px;">
              <button class="decrease-btn" data-id="<%=product.id%>">➖</button>
              <span id="quantity-<%=product.id%>">1</span>
              <button class="increase-btn" data-id="<%=product.id%>">➕</button>
            </div>
            <div style="margin-top: 8px;">
                Total: ₹<span id="total-pay-<%= product.id %>" data-price="<%= product.price %>"><%= product.price %></span>
            </div>

